<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body style="text-align: center;">
    <h1>Test List</h1>
    <a href="admin/"><input type="button" value="출제하기"></a>
    <a href="stats/"><input type="button" value="통계보기"></a>

    {% if latest_question_list %}
    <ul style="list-style-type: none; padding: 0;">
        {% for question in latest_question_list %}
            <li><a href="test/{{ question.id }}/">{{ question.question_text }}</a></li>
            <a href="test/{{ question.id }}/"><input type="button" value="응시하기"></a>
            <a href="result/{{ question.id }}"><input type="button" value="채점하기"></a>
        {% endfor %}
    </ul>
    {% else %}
        <p>No tests are available.</p>
    {% endif %}
</body>
</html>
