<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body style="text-align: center;">
    <fieldset>
        {% if isStats %}
            <h1>Test 통계</h1>
            {% if question_list %}
            <ul style="list-style-type: none; padding: 0;">
                {% for result in result_list %}
                    {% if result %}
                        <li>{{ question.question_text }}  결과 : 정답</li>
                    {% else %}
                        <li>{{ question.question_text }}  결과 : 오답</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% else %}
                <p>No tests are available.</p>
            {% endif %}
            <h3>총 {{ question_count }} 문제 중 {{ correct_count }} 문제 정답</h3>
            <h3>정답률 : {{ correct_rate }}%</h3>
        {% else %}
            <h2>응시하지 않은 문제가 있습니다.</h2>
        {% endif %}
        <a href="/"><input type="button" value="돌아가기"></a>
    </fieldset>

</body>
</html>