<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
<form action="" method="post" style="margin-left: auto; margin-right: auto; margin-top: 25px; text-align: center;">
    {% csrf_token %}
    <h1>{{ question.question_text }}</h1>
    <h3>{{ question.question_content }}</h3>
    <ul style="list-style-type: decimal; width: 70px; margin-left: auto; margin-right: auto;">
        <li>{{ question.answer1 }}</li>
        <li>{{ question.answer2 }}</li>
        <li>{{ question.answer3 }}</li>
        <li>{{ question.answer4 }}</li>
    </ul>
    <input type="number" name="correct" placeholder="정답을 입력하세요" max="4" required style="margin-left: auto; margin-right: auto;">
    <input type="submit" value="제출하기" style="margin-left: auto; margin-right: auto;">
</form>

</body>
</html>